.wrapper {
    margin-left: 4.625rem;
    max-width: 182px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-right: 50px;

    .linkWrapper {
        display: flex;
        justify-content: right;
    }

    .link {
        text-decoration: none;
        color: var(--color-blue);
        font-size: 1rem;
        position: relative;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            height: 1.7px;
            background-color: var(--color-blue);
            top: 102%;
            width: 100%;
        }
    }    
}


.size {
    margin-top: .9rem;
    font-size: .625rem;
    color: var(--color-gray);
    text-align: center;
}

.error {
    color: red;
}

.fileWrapper {
    // margin-top: 2.5rem;
}

.labelClassname {
    display: flex;
    width: 172px;
    height: 172px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-blue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
    }
}

.labelClassnameActive {
    &::before {
        opacity: .5;
        transition: .3s all ease-in-out;
        content: '';
        position: absolute;
        width: 192px;
        height: 53px;
        background-color: black;
        top: 70%;
        
        background-color: #000;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 75%;
        background: url('../../assets/images/image-subicon.png') no-repeat; 
        z-index: 3;
        width: 32.5px;
        height: 26px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        justify-content: center;
        margin: 0 0 30px 0;
        padding-bottom: 1rem;

        .labelClassname {
            width: 150px;
            height: 150px;
        } 

        .linkWrapper {
            justify-content: center;

            .link {
                white-space: nowrap;
            }
        }

        .fileWrapper {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        .labelClassname {
            width: 100px;
            height: 100px;
        }        
    }

}