@import url('./reset.scss');

@font-face {
	font-family: Lato;
	src:
		local("Lato Regular"),
		local("Lato-Regular"),
		url("../assets/fonts/lato/Lato-Regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Medium"),
		local("Lato-Medium"),
		url("../assets/fonts/lato/Lato-Medium.ttf") format("truetype");

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Semibold"),
		local("Lato-Semibold"),
		url("../assets/fonts/lato/Lato-Semibold.ttf") format("truetype");

	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Bold"),
		local("Lato Bold"),
		url("../assets/fonts/lato/Lato-Bold.ttf") format("truetype");

	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Bold"),
		local("Lato-Bold"),
		url("../assets/fonts/lato/Lato-Bold.ttf") format("truetype");

	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Heavy"),
		local("Lato-Heavy"),
		url("../assets/fonts/lato/Lato-Heavy.ttf") format("truetype");

	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src:
		local("Lato Heavy"),
		local("Lato-Heavy"),
		url("../assets/fonts/lato/Lato-Black.ttf") format("truetype");

	font-weight: 900;
	font-style: normal;
}

*,
*::before,
*::after {
	font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: var(--color-white);
}

body::-webkit-scrollbar-thumb {
	border-radius: var(--radius);
	background-color: var(--color-blue);
}

* {
	scroll-behavior: smooth;
}

:root {
	--color-blue: #3DABF7;
	--color-pink: #FCC3C3;
	--color-white: #FFF;
	--color-black: #0E1D27;
	--color-black-primary: #212121;
	--color-black-secondary: #000;
	--color-black-tertiary: #484848;
	--color-dark-blue: #0E1D27;
	--color-gray: #82949F;
	--color-lightgray: #FBFDFE;
	--color-disabled: #EBEBE4;
	--white-theme-color: #8494A1;
	--dark-theme-color: #DFE6EB;
	--color-green: #22E0A5;
	--hover-blue: #197DC2;
	--hover-green: #00FFB0;
	--hover-gray: #DFE6EB;
	--shadow: 0 1px 0 #DFE6EB;
	--border: 1px solid #DFE6EB;
	--radius: 2px;
	--main-transition: all 0.3s ease-in-out;
	font-size: 16px;
}

// swiper

.swiper-pagination {
	position: absolute;
	right: 50px !important;

	bottom: 50px !important;
	left: auto !important;

	width: auto !important;

	text-align: right;
}

.swiper-pagination-bullet {
	margin-right: 19px !important;

	opacity: 0.5;
	background-color: #FFF;

	&:last-child {
		margin-right: 0 !important;
	}
}

.swiper-pagination-bullet-active {
	opacity: 1;
}
