.wrapper {
    min-height: 100vh;
}

.title {
    font-size: 26px;
    font-weight: 400;
}

.subtitle {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}