.wrapper {
    min-height: 100vh;
    max-width: 1280px;
}

.title {
    color: var(--text-primary, #212121);
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 120%;
}

.subtitle {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}

@media (max-width: 992px) {

    .title,
    .subtitle {
        text-align: center;
    }
}
