.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

label {
    color: var(--text-caption);
    font-size: 14px;
}

.inputError {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

.button {
    max-width: 280px;
}

@media (max-width: 992px) {
    .button {
        max-width: none;
    }
    .inputContainer {
        width: 100%;
    }
}
