.wrapper {
    width: 100%;
    max-width: 468px;
    min-height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.title {
    color: var(--text-secondary-1);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
}

@media(max-width: 576px) {
    .title {
        font-size: 16px;
    }
    .button {
        padding: 10px;
    }
}
