.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font: var(--font-secondary);
    color: var(--text-caption);
}

.conditions {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
