.accordion {
    list-style: none;
    // margin: 16px;
    // padding: 16px;
}

.item {
    margin-bottom: 54px;
}

.header {
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 7px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    background: white;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}

.collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    border-bottom: 1px solid #000;
}

.collapse.open {
    height: auto;
}

.body {
    // padding: 30px 60px 30px 30px;
    padding-top: 16px;
    padding-bottom: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: .875rem;
    color: black;
}
