.accordion {
    list-style: none;
}

.item {
    margin-bottom: 54px;
}

.header {
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 7px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    background: white;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}

.collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    border-bottom: 1px solid #000;
}

.collapse.open {
    height: auto;
}

.body {
    padding-top: 16px;
    padding-bottom: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: .875rem;
    color: black;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);

    svg{
        fill: black;
    }
}

.arrowActive {
    transform: translateY(-50%) rotate(180deg);
}
