.wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.btn {
    display: flex;
    border: 1px solid var(--bg-field);
    padding: 14px 10px;
    align-items: center;
    min-width: 260px;
    justify-content: space-between;
    cursor: pointer;
}

.btn.open {
    background-color: var(--bg-accent);
}

.popup {
    position: absolute;
    top: 100%;
    width: max-content;
    max-width: 420px;
    background: var(--text-secondary-1);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 17px 15px;
    z-index: 4;
}

.inner {
    position: relative;
}

.bluePoint {
    position: absolute;
    top: 0;
    left: 105%;
}

.arrow {
    border-color: var(--text-secondary-2) transparent transparent;
}

.arrow.open {
    border-color: transparent transparent var(--text-secondary-2);
}
