.wrapper {
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

.category {
    flex-shrink: 0;
}

@media (max-width: 992px) {
    .container {
        justify-content: center;
    }
}
