.wrapper {
    width: 100%;
    max-width: 820px;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-primary-1);
    border: 1px solid var(--bg-accent);
    padding: 20px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-white);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: var(--radius);
        background-color: var(--bg-accent);
    }
}

.description {
    margin-top: 30px;
}

.slider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.swiperWrapper {
    width: 100%;
}

.swiperSlide {
    display: flex;
    justify-content: center;
}

.applicationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.fullCardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}

.reviewCardOffer {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .wrapper {
        max-width: none;
        height: auto;
        overflow: auto;
    }
}
