.dropdownContainer {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 0.5rem;
}

.dropdownContainer,
.dropdown {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 0.875rem;

	cursor: pointer;

	border: var(--color-gray) 1px solid;
	border-radius: 0.625rem;
	outline: none;

	font-family: Lato;
	font-size: 1rem;
	font-weight: 400;
}

.labelWrapper {
	display: flex;
	align-items: center;
}

.label {
	color: var(--color-gray);

	font-family: Lato;
	font-size: 0.875rem;
	font-weight: 400;
}

.image {
	max-width: 1.125rem;
	margin-right: 0.625rem;
}

.description {
	margin-top: 0.5rem;

	color: var(--color-gray);

	font-size: 0.625rem;
}

.arrow {
	width: 0.625rem;
	height: 0.625rem;

	transform: rotate(0);
}

.dropdown {
	position: absolute;
	z-index: 10;
	top: 110%;
	right: 0;
	left: 0;

	width: 100%;

	transition: 0.3s ease-in all;

	background-color: white;

	li {
		list-style-type: none;

		&:hover {
			background-color: var(--color-lightgray);
		}
	}
}

.closed {
	display: none;

	transition: 0.3s ease-in all;
}

.opened {
	display: flex;
	flex-direction: column;

	transition: 0.3s ease-in all;

	.arrow {
		position: relative;
		z-index: 12;

		transition: 0.3s ease-in all;
		transform: rotate(180deg);
	}
}
