.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    ul, ol {
        margin-left: 1.325rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    h3 {
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
    }
}
