.mainSection {
    display: flex;
	flex-direction: column;
	width: calc(100% - 235px);
}

.avatarSection {
    margin-left: 20px;
	width: 187px;
	height: 187px;
	background-color: lightblue;
	border-radius: 50%;
}

@media (max-width: 992px) {
	.mainSection {
		width: 100%;
	}
}
