.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.floating {
    padding-top: 100px;
}

.content {
    flex: 1;
}

@media (max-width: 992px) {
    .floating {
        padding-top: 0;
    }
}
