.wrapper {
    display: flex;
}

.btn {
    margin-left: 12px;
    border: 1px solid var(--white-theme-color);
    padding: 6px 10px;
    border-radius: 2px;

    &:hover {
        background-color: rgb(236, 233, 233);
    }
}

.dateWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add {
    margin-left: 6px;
}