.buttons {
  margin-top: 60px;
  display: flex;
  gap: 10px;
}

.title {
    font-family: 'Lato';
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.form {
    margin-top: 40px;
    max-width: 1280px;
}

.btn {
    padding: 12px 100px;
}

.plus {
    margin-right: 15px;
}

.dates {
    display: flex;
}

.loading {
    max-width: 1280px;
}

@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
