.title {
    text-align: center;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
    flex-wrap: wrap;
}

.infoWrapper {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authorName {
    font-size: 0.875rem;
    color: var(--text-primary-1);
}

.avatar {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
}

.date {
    color: var(--text-caption);
}

.category {
    font-size: 0.875rem;
    padding: 3px 10px;
    background-color: #C3A3E9;
    border-radius: 40px;
}

.containerIcon {
    display: flex;
    gap: 12px;
}

.wrapperIcon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.icon {
    width: 16px;
    height: 16px;
}

.number {
    font-size: 0.875rem;
    font-weight: 700;
}
