.title {
    text-align: center;
}

.infoWrapper {
    display: flex;
    gap: 30px;
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authorName {
    font-size: 14px;
    color: var(--text-primary-1);
}

.avatar {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
}

.date {
    color: var(--text-caption);
}

.category {
    
}
