.wrapper {
    background-image: url("@/shared/assets/images/news/headerBlog.png");
    width: 100%;
    min-height: 200px;
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding: 6rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
