.cancel {
	display: flex;
	justify-content: flex-end;

	box-sizing: border-box;

	width: 100%;

	margin-bottom: 115px;

	padding: 20px;

	.btn {
		color: #8494A1;
		border: 1px solid #8494A1;

		&:hover {
			border: 1px solid var(--color-blue);
		}
	}
}

@media screen and (max-width: 480px) {
	.cancel {
		justify-content: center;

		padding: 20px 0;
	}
}
