.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    padding: 0 50px;
    position: relative;
}

.swiper {
    position: static;
}

.swiperWrapper {
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .container {
        padding: 0;
    }
    .certificate {
        width: 100% !important;
    }
}
