.wrapper {
    width: 100%;
    display: flex !important;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--accent-elements);
    border-radius: 2px;
    transition: all 0.3s ease;
    background-color: var(--text-secondary-1);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 20px 0px rgb(33 33 33 / 15%);
    }
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.avatar {
    width: 40px;
    height: 40px;
}
