.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--accent-elements);
    border-radius: 2px;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.avatar {
    width: 40px;
    height: 40px;
}
