.wrapper {
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.closedOffers {
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    width: 100%;
}

.sortWrapper {
    width: 100%;
    height: auto;
}

.sortDropdown {
    border: 1px solid var(--bg-field);
}

.sort {
    padding: 10px 14px;
    font-size: 16px;
}

.offersCount {
    background-color: var(--bg-field);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 290px) {
    .buttons {
        flex-wrap: wrap;
    }
}
