.header {
	display: flex;
	align-items: center;

	box-sizing: border-box;

	width: 100%;

	padding: 20px 50px;

	background: #FFF;
	border-bottom: solid 1px #DFE6EB;

	a {
		margin-right: 25px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		display: none;
	}
}
