.wrapper {
	width: 100%;
	list-style-type: none;

	background-color: inherit;
	color: var(--white-theme-color);

	.matchRoute {
		color: var(--color-black-tertiary);
	}

	.activeDropdownItem {
		color: var(--color-black-tertiary);
	}
}

.img {
	min-width: 40px;
}

.text {
	display: none;

	margin-right: auto;

	text-align: left;
}

.link {
	display: flex;
	align-items: center;

	height: 3.75rem;

	cursor: pointer;
	text-decoration: none;

	font-weight: 700;
}

.dropdownContainer {
	display: flex;
	overflow-y: auto;
	max-height: 12rem;
	width: 100%;
	margin: 0 0.875rem 0;
}

.dropdownLine {
	position: sticky;
	top: 0;
	width: 1px;
	margin: 0 1.25rem;

	background-color: var(--color-gray);
}

.dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
}

.dropdownItem {
	margin: 0.55rem 0;
	margin-left: 2.25rem;

	text-decoration: none;
	color: var(--white-theme-color);

	cursor: pointer;

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	transition: all 0.3s ease;

	&:hover {
		color: var(--color-black-tertiary);
	}
}


.opened {
	display: block;
	margin-left: 1.5rem;
}

.linkOpen img {
	margin: 0 0.875rem;
}
