.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 235px);
}

.file {
	margin-left: 20px;
	width: 187px;
	height: 187px;
	background-color: lightblue;
	border-radius: 50%;
}

.fileInput {
	margin-top: 2.8rem;
}

.button {
	max-width: 280px;
	margin-top: 3.75rem;
}

@media (max-width: 1000px) {
	.wrapper {
		flex-direction: column-reverse;
		align-items: center;
		margin: 0 auto;
		padding-right: 3rem;
		justify-content: center;
		.container {
			width: 100%;
		}
	}
}


@media (max-width: 600px) {
	.button {
		padding: 10px 36px;
		width: 100%;
		text-align: center;
	}
}