.wrapper {
	display: flex;
	flex-direction: column;

	padding-top: 40px;
}

.general {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	.name {
		flex-basis: 80%;
	}
}
