.wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;

	padding-top: 40px;
}

.general {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	.name {
		flex-basis: 80%;
	}
}

.contacts {
	display: flex;
	justify-content: space-between;

	width: 70%;

	div {
		flex-basis: 45%;
	}
}

.button {
	align-self: flex-start;
}
