.wrapper {
	display: flex;
	width: 100%;
}

.container {
	max-width: 854px;
	display: flex;
	flex-direction: column;

	& > * {
		margin-top: 1.875rem;
		gap: 1.5rem;
	}

	& > *:first-child {
		margin-top: 0;
	}
}

.profileInput {
	margin-left: 3.875rem;
	margin-right: 0;
	margin-top: 0;
}

.button {
	margin-top: 3.75rem;
	max-width: 17.5rem;
}
