.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    column-gap: 30px;
    row-gap: 10px;
}

.content {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.videoFilter {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.videoListWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 370px;
}

.newsList {
    max-width: 780px;
    width: 100%;

}

@media (max-width: 1000px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .newsList {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media(max-width: 992px) {
    .content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .memberBanner {
        max-width: none;
    }
}
