.wrapper {
    position: relative;
}

.input {
    box-sizing: border-box;
    border-radius: 10px;
    font: var(--font-field);
    border: 1px solid var(--text-caption);
    outline: none;
    padding: 12px 20px 12px 42px;
    max-height: 44px;
    background-color: var(--bg-field);
    &:focus, &:hover {
        box-shadow: 0 0 0 1px var(--text-caption);
    }
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}