.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1920px;
    align-self: center;
    padding: 36px 50px 50px 50px;
    min-height: 80vh;
}

.navMenu {
    position: sticky;
    // top: 5.563rem;
    top: 91px;
    z-index: 8;
}

.button {
    width: 100%;
}


@media(max-width: 992px) {
    .navMenu {
        display: none;
    }
    .content {
        padding: 20px;
    }
}
