.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1920px;
    align-self: center;
    padding: 36px 50px 50px 50px;
}

.navMenu {
    padding: 8px 0;
    position: sticky;
    top: 5.563rem;
    z-index: 4;
}

.button {
    width: 100%;
}


@media(max-width: 992px) {
    .navMenu {
        display: none;
    }
    .content {
        padding: 20px;
    }
}
