.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1180px;
    align-self: center;
}

.navMenu {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--text-secondary-2);
}
