.buttons {
  margin-top: 60px;
  display: flex;
  gap: 10px;
}

.error {
  font-size: 0.75rem;
  color: #d32f2f;
  margin-bottom: 15px;
}

.loading {
  max-width: 1280px;
}


@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
