.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons {
    padding: 15px 0;
    display: flex;
    gap: 15px;
}

@media (max-width: 1400px) {
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
