.btn {
	display: inline-block;

	padding: 14px 50px;
	border-radius: 10px;
	
	cursor: pointer;
	transition: var(--main-transition);
	text-decoration: none;
	
	border: 0;
	background: none;

	font-size: 1rem;
	line-height: 1.375rem;
	text-align: center;
}

.primary {
	color: var(--color-white);
	background-color: var(--color-blue);

	&:hover {
		background-color: var(--hover-blue);
	}
}

.secondary {
	color: var(--color-black);
	background-color: var(--color-green);

	&:hover {
		background-color: var(--hover-green);
	}
}

.outlined {
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	background-color: inherit;

	&:hover {
		color: var(--color-white) !important;
		background-color: var(--color-blue) !important;
	}
}

.LARGE {
	padding: 16px 70px;
	font: var(--font-label);
}

.MEDIUM {
	padding: 12px 100px;
	font: var(--font-label);
}

.SMALL {
	padding: 10px 50px;
	font: var(--font-label);
}

.EXTRA-SMALL {
	padding: 6px 20px;
	font: var(--font-caption);
}

@media (max-width: 992px) {
	.MEDIUM {
		padding: 12px 15px;
		width: 100%;
	}
}
