.wrapper {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 80px;
    align-items: center;
}

.left {
    display: flex;
    gap: 30px;
    align-items: center;
}
