.wrapper {
	position: relative;

	display: block;

	box-sizing: border-box;
	width: 35px;
	height: 22px;

	cursor: pointer;
	text-indent: -9999px;

	border-radius: 36.5px;
	background-color: #CBD3D8;

	&::after {
		position: absolute;
		top: 0.5px;
		left: 1.38px;

		width: 19.25px;
		height: 19.25px;

		content: "";
		transition: 0.3s;

		border: 0.5px solid rgb(0 0 0 / 4%);
		border-radius: 50%;
		background-color: var(--color-white);
		box-shadow: 0 1px 1px rgb(0 0 0 / 16%), 0 3px 1px rgb(0 0 0 / 10%);
	}
}

.checked {
	background-color: #3DABF7;

	&::after {
		left: calc(55% - 6px);
	}
}
