.wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
}

.report {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 1.625rem;
    font-weight: 400;
}

.container {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
