.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.offerCard {
    height: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewOffers {
    max-width: 350px;
}

.emptyIcon {
    svg {
        fill: transparent;
        width: 100%;
    }
    margin: 0 auto;
}

@media (max-width: 992px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
