{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-tabs": 0,
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "arrow-body-style": ["error", "as-needed"],
        "no-console": "warn",
        "jsx-a11y/click-events-have-key-events": "warn",
        "jsx-a11y/no-noninteractive-element-interactions": "warn",
        "jsx-a11y/no-static-element-interactions": "warn",
        "jsx-a11y/label-has-associated-control": "warn",
        "react/no-array-index-key": "off",
        "react/button-has-type": "off",
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "consistent-return": "off",
        "import/extensions": "off",
        "import/prefer-default-export": "off",
        "react/function-component-definition": [
            "error",
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "@typescript-eslint/quotes": ["error", "double"],
        "semi": "error",
        "no-param-reassign": 0,
        "linebreak-style": ["warn", "unix"],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/semi": ["error"],
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ]
    },
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    }
}
