version: "3.9"

services:
  frontend:
    build:
      context: .
    restart: unless-stopped
    container_name: gs_frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`gudserfing.ru`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=leresolver"
    networks:
      - traefik-network
    environment:
      REACT_APP_API_BASE_URL: https://api.gudserfing.ru/
      REACT_APP_API_YANDEX_KEY: 864d6a03-13dc-41c2-a09d-66018ba34045

networks:
  traefik-network:
    external: true
    name: infrastructure_traefik-network
