version: "3.9"

services:
  frontend:
    build:
      context: .
    restart: unless-stopped
    container_name: gs_frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`${MAIN_HOST}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=leresolver"
    networks:
      - traefik-network

networks:
  traefik-network:
    external: true
    name: infrastructure_traefik-network
