.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 0;
    overflow-y: auto;
}

.container {
    position: relative;
    align-self: center;
}

.buttonClose {
    position: absolute;
    cursor: pointer;
    fill: white;
    width: 14px;
    height: 14px;
    top: 0;
    right: -40px;
}

.buttonClose.hidden {
    visibility: hidden;
}

@media (max-width: 768px) {
    .buttonClose {
        bottom: 110%;
        right: 5%;
        top: -12%;
    }
}
