.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.dropdown {
	margin-top: .5rem;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	cursor: pointer;

	border: var(--color-gray) 1px solid;
	border-radius: 0.625rem;
	outline: none;

	pointer-events: all !important;
	white-space: nowrap;
}

.menuList {
	cursor: pointer !important;
	line-height: 1.5rem;
	top: 110%;
	padding: 0.875rem;
	border: var(--color-gray) 1px solid;
	background-color: var(--color-white);
	border-radius: .625rem;

	font-family: Lato;
	font-size: 1rem;
	font-weight: 400;
}

.option {
	cursor: pointer !important;
}

.control {
	min-width: 90px;
	padding: .875rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer !important;

	svg {
		fill: var(--color-gray) !important;
	}

	&.disabled {
		background-color: #EBEBE4;
		border-radius: inherit;
		cursor: not-allowed !important;
	}
}

.menu {
	cursor: pointer;
}

.labelWrapper {
	display: flex;
	align-items: center;
}

.label {
	color: var(--color-gray);
	font-family: 'Lato';
	font-size: 0.875rem;
	font-weight: 400;
}

.image {
	max-width: 1.125rem;
	margin-right: 0.625rem;
}

.description {
	margin-top: 0.5rem;
	color: var(--color-gray);
	font-size: 0.625rem;
}
