.wrapper {
    width: 100%;
    border: 1px solid var(--text-caption);
    border-radius: 10px;
    padding: 20px 0;
}

.wrapper h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
}

.sliderWrapper {
    padding: 0 60px;
}
