.wrapper {
    width: 100%;
}

.titleSelect {
    color: var(--text-caption);
    font-size: 14px;
}

.container {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.wrapperLanguageComponent {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.deleteIcon {
    box-sizing: content-box;
    padding: 10px;
    margin-top: 20px;
    width: 14px;
    height: 14px;
    fill: var(--text-secondary-2);
    cursor: pointer;
}

.container {
    .deleteIcon {
        margin-top: 0;
    }
}

.button {
    background-color: var(--text-primary-1);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--text-caption);
    padding: 15px 20px;
    font-size: 14px;
    color: white;

    .plus {
        width: 14px;
        height: 14px;
        margin-right: 10px;
        fill: white;
    }

    &:hover {
        color: black;
        .plus {
            fill: black;
        }
    }
    &:disabled {
        background-color: var(--bg-field);
        color: var(--text-caption);
        .plus {
            fill: var(--text-caption);
        }
        cursor: not-allowed;
    }
}


@media (max-width: 768px) {
    .container,
    .wrapperLanguageComponent {
        max-width: 250px;
    }
}
