.wrapper {
    width: 100%;
}

.titleSelect {
    color: var(--text-caption);
    font-size: 14px;
}

.container {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.wrapperLanguageComponent {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.deleteIcon {
    margin: 10px;
    width: 18px;
    height: 18px;
    fill: var(--text-primary-2);
    cursor: pointer;
    transition: fill 0.15s ease, transform 0.15s ease;

    &:hover {
        fill: var(--error-color);
        transform: scale(1.15);
    }
}


@media (max-width: 768px) {
    // .container,
    // .wrapperLanguageComponent {
    //     max-width: 250px;
    // }
}
