.text {
    color: var(--text-caption);
    font: var(--font-secondary);
}

.wrapper {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 19% 48% 27%;
    width: 50%;
    gap: 14px;
    align-items: baseline;
}

.dayDropdown,
.mounthDropdown,
.yearDropdown {
    width: 100%;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }
}
