.general {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.nameWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	
		.name {
			width: 100%;
			display: flex;
			gap: 1.5rem;
		}
	}
}
