.title {
    font-size: 1.625rem;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-black-primary);
  }
  
  .description {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
  }
