.button {
    font-weight: 400;
    background-color: var(--bg-primary-1);
    border: 1px solid var(--bg-field);
    text-decoration: none;
    color: var(--text-secondary-2);
    padding: 10px 35px;
    font-size: 16px;
}
