.wrapper {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 80vh;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 36px;
}

.error {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    padding: 8px 0;
    position: sticky;
    top: 5.563rem;
    z-index: 4;
}

.button {
    width: 100%;
    max-width: 150px;
    max-height: 36px;
}

@media (max-width: 992px) {
    .content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navMenu {
        display: none;
    }
}
