.wrapper {
    position: relative;
}

.wrapper a {
    display: flex;
}

.img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.fileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--accent-elements);
    cursor: pointer;
}

.closeBtn, .closeBtnFile {
    position: absolute;
    border: none;
    background: none;
    top: 9px;
    right: 8px;
    outline: none;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.closeBtnFile {
    svg {
        fill: var(--text-secondary-2);
    }
}

.hidden {
    display: none;
}
