.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.withIcon {
	gap: 12px;
}

.FILL {
	border-radius: 10px;
	border: none;
	color: var(--text-secondary-1);
	transition: all 0.3s ease;

	&.BLUE {
		border: 1px solid var(--accent-color);
		background-color: var(--accent-color);
		&:hover {
			cursor: pointer;
			color: var(--accent-color);
			background-color: #fff;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GREEN {
		background-color: var(--button-1);
		border: 1px solid var(--button-1);
		&:hover {
			cursor: pointer;
			color: var(--button-1);
			background-color: #fff;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GRAY {
		background-color: var(--text-caption);
		border: 1px solid var(--text-caption);
		&:hover {
			cursor: pointer;
			color: var(--text-caption);
			background-color: #fff;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.BLACK {
		background-color: var(--text-primary-2);
		border: 1px solid var(--text-primary-2);
		&:hover {
			cursor: pointer;
			color: var(--text-primary-2);
			background-color: #fff;
		}
		&:disabled {
			opacity: 0.7;	
		}
	}

	&.RED {
		background-color: var(--error-color);
		border: 1px solid var(--error-color);
		&:hover {
			cursor: pointer;
			color: var(--error-color);
			background-color: #fff;
		}
		&:disabled {
			opacity: 0.7;	
		}
	}
}

.OUTLINE {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease;

	background-color: inherit;

	&.BLUE {
		border-color: var(--accent-color);
		color: var(--accent-color);

		&:hover {
			cursor: pointer;
			background-color: var(--accent-color);
			color: var(--text-secondary-1);
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GREEN {
		border-color: var(--button-1);
		color: var(--button-1);

		&:hover {
			cursor: pointer;
			background-color: var(--button-1);
			color: var(--text-secondary-1);
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GRAY {
		border-color: var(--text-caption);
		color: var(--text-caption);

		&:hover {
			cursor: pointer;
			background-color: var(--text-caption);
			color: var(--text-secondary-1);
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.BLACK {
		border-color: var(--text-primary-2);
		color: var(--text-primary-2);

		&:hover {
			cursor: pointer;
			background-color: var(--text-primary-2);
			color: var(--text-secondary-1);
		}
		&:disabled {
			opacity: 0.7;
		}
	}
}

.TEXT {
	border-radius: 0;
	border-width: 0;
	border-style: none;
	padding: 0 !important;
	cursor: pointer;

	background-color: transparent;

	&.BLUE {
		border-color: transparent;
		color: var(--accent-color);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GREEN {
		border-color: transparent;
		color: var(--button-1);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GRAY {
		border-color: transparent;
		color: var(--text-caption);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.BLACK {
		border-color: transparent;
		color: var(--text-primary-2);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}
}

.LARGE {
	padding: 16px 70px;
	font: var(--font-label);
}

.MEDIUM {
	padding: 12px 100px;
	font: var(--font-label);
}

.SMALL {
	padding: 10px 50px;
	font: var(--font-label);
}

.EXTRA-SMALL {
	padding: 6px 20px;
	font: var(--font-caption);
}

@media (max-width: 992px) {
	.MEDIUM {
		padding: 12px 15px;
		width: 100%;
	}
}
