.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.withIcon {
	gap: 12px;
}

.FILL {
	border-radius: 10px;
	border: none;
	color: var(--text-secondary-1);

	&.BLUE {
		background-color: var(--accent-color);
		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GREEN {
		background-color: var(--button-1);
		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GRAY {
		background-color: var(--text-caption);
		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.BLACK {
		background-color: var(--text-primary-2);
		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;	
		}
	}
}

.OUTLINE {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;

	background-color: inherit;

	&.BLUE {
		border-color: var(--accent-color);
		color: var(--accent-color);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GREEN {
		border-color: var(--button-1);
		color: var(--button-1);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.GRAY {
		border-color: var(--text-caption);
		color: var(--text-caption);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}

	&.BLACK {
		border-color: var(--text-primary-2);
		color: var(--text-primary-2);

		&:hover {
			cursor: pointer;
		}
		&:disabled {
			opacity: 0.7;
		}
	}
}

.LARGE {
	padding: 16px 70px;
	font: var(--font-label);
}

.MEDIUM {
	padding: 12px 100px;
	font: var(--font-label);
}

.SMALL {
	padding: 10px 50px;
	font: var(--font-label);
}

.EXTRA-SMALL {
	padding: 6px 20px;
	font: var(--font-caption);
}

@media (max-width: 992px) {
	.MEDIUM {
		padding: 12px 15px;
		width: 100%;
	}
}
