.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skillsWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
