.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.skillsWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media (max-width: 768px) {
    .skills {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 600px) {
    .skills {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
