.wrapper {
    padding: 0.875rem;
    border: 1px solid var(--dark-theme-color);
    background-color: var(--text-secondary-1);
    transition: all 0.3s ease;

    &:hover {
        border: 1px solid var(--text-caption);
    }
}

// .wrapper:hover {

//     border: 1px solid var(--text-secondary-2);
// }

.image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--dark-theme-color);
}

.cardHead {
    position: relative;
    display: flex;
}

.name {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}

.text {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.location {
    margin-top: 8px;
    color: #8494a1;
    font-size: 12px;
}

.date {
    margin-top: 8px;
    color: var(--text-secondary-2);;
    font-size: 12px;
}

.notification {
    font-size: 10px;
    padding: 2px 6px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.new {
    background-color: var(--color-blue);
}

.canceled {
    background-color: var(--color-pink);
}

.accepted {
    background-color: var(--color-green);
}

.linkWrapper {
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: var(--color-blue);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button {
    width: 100%;
    padding: 7px !important;
    text-align: center;
}


@media(max-width: 500px) {
    .buttons {
        flex-direction: column;
    }
}
