.wrapper {
    display: flex;
    flex-shrink: 0;
}

.SMALL, .MEDIUM, .LARGE, .DEFAULT {
    border-radius: 50%;
    object-fit: cover;
}

.defaultPlaceholder {
    width: 100%;
    height: 100%;
    background-color: var(--bg-accent);
    border-radius: 50%;
    flex-shrink: 0;
}

.DEFAULT {
    width: 100%;
    height: 100%;
}

.SMALL {
    width: 30px;
    height: 30px;
}

.MEDIUM {
    width: 56px;
    height: 56px;
}

.LARGE {
    width: 70px;
    height: 70px;
}

.avatarNoImg {
    border-radius: 50%;
    background-color: var(--text-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-primary-1);
    font-weight: 600;
    font-size: 18px;
    flex-shrink: 0;
}

.avatarNoImg.active {
    background-color: #fff;
    color: var(--text-primary-1)
}

svg {
    fill: var(--bg-field);
}
