.input {
  width: 100%;
  height: 216px;
}

.label {
  width: 100%;
  height: 100%;
}

.description {
  margin-top: 0.625rem;
  
  color: var(--white-theme-color);
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
}

.error {
  font-size: 0.75rem;
  color: #d32f2f;
  margin-top: 15px;
  margin-bottom: 15px;
}
