.item {
	display: flex;
	align-items: flex-end;

	box-sizing: border-box;
	width: 126px;
	height: 129px;

	padding: 10px;

	text-decoration: none;

	background-repeat: no-repeat;
	background-position: center center;

	background-size: cover;
	transition: 0.3s ease;

	// word-break: break-word;

	&:hover {
		opacity: 0.8;
	}

	p {
		color: var(--color-white);
		hyphens: auto;
  		overflow-wrap: break-word;
		width: 100%;
	}
}
