.wrapper {
    display: flex;
    flex-direction: column;
}

.bottom {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    background-color: var(--text-secondary-1);
    box-shadow: 0 1px 1px rgb(0 0 0 / 16%), 0 3px 1px rgb(0 0 0 / 10%);

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}

.bottom.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.top {
    padding: 20px 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--bg-accent);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.button {
    padding: 10px 12px;
    font-size: 14px;
}
