.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    padding: 20px 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--bg-accent);
}
