.wrapper {
	width: 100%;
	max-width: 1100px;
}

.titleWrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 100%;

	.link {
		cursor: pointer;

		background-color: inherit;
		border: none;
		font-size: 1rem;

		color: var(--color-blue);

		font-weight: 600;
		text-decoration-line: underline;
	}
}

.title {
	color: var(--color-black-primary);

	font-size: 1.625rem;
	font-weight: 400;
}

@media (max-width: 992px) {
	.titleWrapper {
		justify-content: center;
		text-align: center;
	}
}
