.wrapper {
	width: 100%;
	max-width: 1100px;
}

.titleWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.title {
	color: var(--color-black-primary);

	font-size: 1.625rem;
	font-weight: 400;
}

@media (max-width: 992px) {
	.titleWrapper {
		justify-content: center;
		text-align: center;
	}
}
