.wrapper h2 {
    margin-bottom: 20px;
}

.table {
    height: 40vh;
}

.actionButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btnIcon {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
}

.btnIcon svg {
    width: 25px;
    height: auto;
    transition: all 0.3 ease;
}

.btnIcon:hover {
    scale: 1.05;
}

.btnShow g {
    fill: var(--accent-color);
}

.btnBlock g {
    fill: var(--text-caption);
}

.btnDelete g {
    fill: var(--error-color);
}

.achivImg {
    width: 20px;
}
