.header {
	display: flex;
	align-items: center;

	box-sizing: border-box;

	width: 100%;

	padding: 20px 50px;

	background: #FFF;
	box-shadow: 0 1px 0 #DFE6EB;

	a {
		margin-right: 25px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		justify-content: center;
	}
}
