.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 30px;
}

.image {
    max-width: 275px;
    object-fit: cover;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 1.625rem;
    font-weight: 400;
}

.modalImgae {
    max-height: 80dvh;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
