.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.title {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 32px;
}

.ratingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingNum{
    font-size: 18px;
    font-weight: 500;
}

.ratingText{
    font-size: 14px;
}

@media(max-width: 992px) {
    .wrapper {
        text-align: center;
    }
}

@media(max-width: 567px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}
