.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
}

.articleWrapper {
    background-color: var(--bg-primary-1);
    margin-top: 30px;
    padding: 60px 120px;
    box-shadow: 0px 5px 20px 0px rgba(14, 29, 39, 0.05);
    border-radius: 20px;
}

.commentWrapper {
    background-color: var(--bg-primary-1);
    margin-top: 30px;
    padding: 40px 120px;
    box-shadow: 0px 5px 20px 0px rgba(14, 29, 39, 0.05);
    border-radius: 20px;
}

.content, .shareBlock {
    margin-top: 40px;
}

.title {
    text-align: center;
}

.description {
    margin-top: 24px;
}

.lessonPersonal {
    margin: 40px auto;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-top: 30px;
    }

    .articleWrapper, .commentWrapper {
        padding: 20px;
    }
    .navigation {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 24px;
    }
}
