.wrapper {
	padding-bottom: 4.125rem;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.title {
	font-size: 1.625rem;
	font-weight: 400;
}

@media (max-width: 1000px) {
	.title {
		text-align: center;
	}
	.wrapper {
		align-items: center;
		margin: 0 auto;
		justify-content: center;
		gap: 0;
	}
}
