.message {
    display: flex;
    width: 100%;
    max-width: 446px;
}

.name {
    font-size: 0.75rem;
    color: var(--text-primary-1);
}

.messageContent {
    background-color: var(--accent-elements);
    border-radius: 10px;
    padding: 8px 16px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.messageContent.image {
    padding: 8px;
    max-width: 420px;
    gap: 8px;
}

.messageContent.userMessage {
    background-color: var(--text-secondary-1);
}

.fileContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    word-break: break-all;
}

.fileContainer:hover {
    color: var(--accent-color);
    transition: all 0.3s ease;
}

.fileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.text {
    font-weight: 500;
    color: var(--text-secondary-2);
    font-size: 0.875rem;
    word-break: break-all;
    white-space: pre-line;
}

.image {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.date {
    color: var(--text-caption);
    font-weight: 500;
    font-size: 0.75rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 5px;
}

.error * {
    height: 16px;
}

@media (max-width: 1400px) {
    .message {
        flex-direction: row;
        align-items: flex-start;
    }

    .messageContent {
        margin-left: auto;
    }

    .avatar {
        align-self: flex-end;
        display: none;
    }

    .userMessage {
        align-self: flex-start;
        margin-left: 0;
    }

    .otherMessage {
        align-self: flex-end;
    }
}

@media (max-width: 480px) {
    .message {
        max-width: 280px;
    }
}
