.wrapper {
    max-width: 880px;
}

.submitBtns {
    display: flex;
    gap: 30px;
    margin-top: 66px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.skillsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formTitle {
    font: var(--font-m);
    color: var(--text-caption);
}
