.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.leftCalendar, .rightCalendar {
    padding: 14px 10px;
    border: 1px solid var(--color-gray);
}

.leftCalendar {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.rightCalendar {
    border-radius: 0px 10px 10px 0px;
}
