.wrapper {
    width: 100%;
    padding: 40px 60px;
    background-color: var(--bg-field);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.mainInfo {
    display: flex;
    gap: 60px;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.address,
.languages {
    color: var(--text-caption);
    font-size: 14px;
    font-weight: 500;
}

.subText {
    color: var(--text-secondary-2);
}

.image {
    width: 150px;
    height: 150px;
}

.name {
    font-weight: 400;
    font-size: 26px;
}

.memberIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.medal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70px;
    text-align: center;
    width: 100%;
    font-size: 10px;
    color: var(--text-caption);
}

.medal span {
    margin-top: 5px;
}

.more {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medalIcon {
    width: 32px;
}

.medalContainer {
    display: flex;
    gap: 8px;
}

.btnMedalsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttonEdit {
    background-color: white;
}

.buttons {
    margin-top: auto;
}

.socials {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 250px;
    gap: 8px;
}

.social {
    display: flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
}

.social path {
    fill: var(--text-primary-2);
}

.social p {
    color: var(--text-primary-2);
    font-size: 14px;
    font-weight: 700;
    display: contents;
}

@media (max-width: 992px) {
    .wrapper {
        padding: 20px;
    }

    .mainInfo {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .wrapper {
        justify-content: center;
    }

    .socials {
        grid-template-columns: 1fr;
    }
}
