.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 80px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.container {
    margin-top: 60px;
}

@media (max-width: 992px) {
    .wrapper {
        padding: 0 20px;
    }
}
