.description {
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-primary-1);
    font-size: 14px;
    font-weight: 500;
}
