.wrapper {
    max-width: 820px;
    height: 100%;
    max-height: calc(100vh - 250px);
}

.container {
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
    height: 100%;
}

@media (max-width: 992px) {
    .wrapper {
        max-width: none;
    }
    .container {
        flex-direction: column;
    }
}
