.wrapper {
    max-width: 400px;
    width: 100%;
    height: 435px;
    overflow: hidden;
    position: relative;
    padding-top: 45px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.swiperWrapper {
    height: 340px;
    overflow: hidden;
}

.slide {
    background-color: blue;
    width: 250px;
    height: 250px;
}

.slideBtnPrev {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 50%;
    padding: 10px;
    transform: rotate(90deg);
    cursor: pointer;
    content: url("data:image/svg+xml,%3Csvg width='20' height='38' viewBox='0 0 20 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59171 18.999L19.6847 1.83759C20.1051 1.41552 20.1051 0.738618 19.6847 0.316551C19.2643 -0.105517 18.5901 -0.105517 18.1697 0.316551L0.315289 18.2425C-0.105096 18.6645 -0.105096 19.3414 0.315289 19.7635L18.1697 37.6815C18.376 37.8885 18.6536 38 18.9233 38C19.1929 38 19.4706 37.8965 19.6768 37.6815C20.0972 37.2594 20.0972 36.5825 19.6768 36.1604L2.59171 18.999Z' fill='%238494A1'/%3E%3C/svg%3E");

    &.active {
        content: url("data:image/svg+xml,%3Csvg width='20' height='38' viewBox='0 0 20 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59171 18.999L19.6847 1.83759C20.1051 1.41552 20.1051 0.738618 19.6847 0.316551C19.2643 -0.105517 18.5901 -0.105517 18.1697 0.316551L0.315289 18.2425C-0.105096 18.6645 -0.105096 19.3414 0.315289 19.7635L18.1697 37.6815C18.376 37.8885 18.6536 38 18.9233 38C19.1929 38 19.4706 37.8965 19.6768 37.6815C20.0972 37.2594 20.0972 36.5825 19.6768 36.1604L2.59171 18.999Z' fill='%233dabf7'/%3E%3C/svg%3E");
    }
}

svg {
    fill: "#000" !important;
}

.slideBtnNext {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 87%;
    z-index: 10;
    left: 50%;
    padding: 10px;
    transform: rotate(270deg);
    cursor: pointer;
    content: url("data:image/svg+xml,%3Csvg width='20' height='38' viewBox='0 0 20 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59171 18.999L19.6847 1.83759C20.1051 1.41552 20.1051 0.738618 19.6847 0.316551C19.2643 -0.105517 18.5901 -0.105517 18.1697 0.316551L0.315289 18.2425C-0.105096 18.6645 -0.105096 19.3414 0.315289 19.7635L18.1697 37.6815C18.376 37.8885 18.6536 38 18.9233 38C19.1929 38 19.4706 37.8965 19.6768 37.6815C20.0972 37.2594 20.0972 36.5825 19.6768 36.1604L2.59171 18.999Z' fill='%238494A1'/%3E%3C/svg%3E");

    &.active {
        content: url("data:image/svg+xml,%3Csvg width='20' height='38' viewBox='0 0 20 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59171 18.999L19.6847 1.83759C20.1051 1.41552 20.1051 0.738618 19.6847 0.316551C19.2643 -0.105517 18.5901 -0.105517 18.1697 0.316551L0.315289 18.2425C-0.105096 18.6645 -0.105096 19.3414 0.315289 19.7635L18.1697 37.6815C18.376 37.8885 18.6536 38 18.9233 38C19.1929 38 19.4706 37.8965 19.6768 37.6815C20.0972 37.2594 20.0972 36.5825 19.6768 36.1604L2.59171 18.999Z' fill='%233dabf7'/%3E%3C/svg%3E");
    }
}
