.modalWrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    gap: 30px;
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    &.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.description {
    text-align: center;
}

.blue {
    background-color: #3DABF7 !important;
    color: white;
}
