.wrapper {
    background-color: #fff;
    border-radius: 10px;
    gap: 30px;
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.description {
    text-align: center;
}

.blue {
    background-color: #3DABF7 !important;
    color: white;
}
