.wrapper {
    border: 1px solid var(--text-caption);
    border-radius: 0;
    border-bottom: 1px solid #8494a187;
    padding: 8px;
    display: flex;
    gap: 24px;

    .ProseMirror {
        li p {
            margin: 0;
        }
    }
}

.toggleButton {
    position: relative;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    // aside {
    //     position: absolute;
    // }
}

.emojiButton {
    position: relative;
    
    .emojiModal {
        position: absolute;
        z-index: 4;
    }
}


.imageButton {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    background: transparent;
}
