.wrapper {
	position: absolute;
	top: 10px;
	right: -10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	cursor: pointer;

	background-color: var(--color-white);

	border: 1px solid var(--color-gray);
	border-radius: 8px;
	transition: all 0.3s ease;

	svg {
		display: flex;
	}

	&:hover {
		background-color: var(--color-gray);
		svg path{
			fill: var(--color-white);
		}
	}
}

.arrow {
	user-select: none;
	transform: rotate(180deg);
}

.opened {
	transform: rotate(0deg);
}
