.wrapper {
	position: absolute;
	top: 10px;
	right: -10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	cursor: pointer;

	border: 1px solid var(--color-gray);
	border-radius: 8px;
}

.arrow {
	user-select: none;
	transform: rotate(180deg);
}

.opened {
	transform: rotate(0deg);
}
