.sort {
    width: 200px;
    height: 30px;
}

.option {
    padding: 6px 0;
    border-bottom: 1px solid var(--color-gray);
    transition: all 0.3s ease;

    &:hover {
        color: var(--text-primary-1);
    }

  &:last-child {
    border-bottom: none;
  }
}

.dropdown {
    border-radius: 0px;
}

.control {
    padding: 5px 0.875rem;
}
