.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	box-sizing: border-box;
	height: 100%;
}

.menu {
	display: flex;
	flex-direction: column;

	.menuLink {
		display: flex;
		align-items: center;

		margin-bottom: 15px;

		p {
			margin-left: 20px;
		}
	}
}