.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 780px;

    .text {
        max-width: 95%;

        margin-top: 30px;
        margin-bottom: 40px;

        text-align: center;

        color: var(--color-black-primary);

        font-size: 0.875rem;
        line-height: 157%;
    }
}
