.wrapper {
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    margin-top: 60px;
    width: 100%;
}
