.ymaps-2-1-79-balloon {
    box-shadow: none !important;
  }
  
  .ymaps-2-1-79-balloon__content {
    padding: 0 !important;
    background: transparent !important;
    margin: 0 !important;
  }
  
  .ymaps-2-1-79-balloon__layout {
    background: transparent !important;
    border: none !important;
  }

  .offer-card {
    width: 200px;
    height: 80px;
  }
