.wrapper {
    display: flex;
}

.leftInput,
.rightInput {
    border: 1px solid var(--bg-field);
    border-radius: 0;
    background-color: white;
}

.leftInput {
    border-right: 0;
}

@media (max-width: 992px) {
    .datePicker {
        max-width: 300px;
        top: 100%;
        left: 0%;
    }
}

@media (max-width: 662px) {
    .wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }

    .leftInput,
    .rightInput {
        // max-width: 300px;
        top: 100%;
        left: 0%;
        position: relative;
    }

    .leftInput {
        border-right: 1px solid var(--bg-field);
    }
}
