.wrapper {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
    & > * {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        & > * {
            width: 100%;
        }
    }
}
