.wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-top: 50px;
}

@media screen and (max-width: 1180px) {
	.wrapper {
		justify-content: center;
	}
}
