.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 560px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        justify-content: center;

        width: 100%;
        max-width: unset;
    }
}
