.wrapper {
	position: absolute;
	z-index: 10;
	top: 105%;
	right: 0;
	left: 0;

	display: none;

	width: 100%;
}

.opened {
	display: block;
}

.hints {
	height: auto;
	padding: 0.625rem;

	border: 1px solid var(--color-gray);
	border-radius: 10px;
	background-color: var(--color-white);
	box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

	font-family: Lato;
	font-weight: 400;
	line-height: 1.5rem;
}

.hint {
	list-style-type: none;

	cursor: pointer;

	&:hover {
		background-color: var(--color-lightgray);
	}

	&:first-child {
		border-radius: 10px 10px 0 0;
	}

	&:last-child {
		border-radius: 0 0 10px 10px;
	}
}

.city {
	color: var(--color-black);

	font-family: Lato;
	font-size: 0.75rem;
	font-weight: 400;
}

.address {
	margin-left: 0.5625rem;

	color: var(--color-gray);

	font-family: Lato;
	font-size: 400;
	font-size: 0.625rem;
}
