.wrapper {
    color: var(--accent-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        transition: text-decoration 0.3s ease-in-out;
    }
}

.wrapper.active {
    color: black;
}
