.wrapper {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 400px;

	.btn {
		margin-top: 20px;
	}
}

.successMessage {
	color: var(--color-dark-blue);
    font-size: 1.125rem;
    line-height: 144%;
	text-align: center;
}

.confirm {
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;

	text-align: center;

	color: #8494A1;

	font-size: 0.875rem;
	line-height: 157%;

	a {
		color: #6F828E;

		font-size: 0.875rem;
		line-height: 157%;
	}
}
