.layout {
	background-color: var(--color-lightgray);
	min-height: 100vh;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	min-height: 100%;
	transition: .3s ease-in-out;
	padding: 2.25rem 3.125rem 0 10rem;
}

.innerWrapper {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 36px;
}

.opened {
	transition: .3s ease-in-out;
	padding-left: 21.875rem;
}

.btn {
	border: none;
}

.sidebar {
	overflow-y: visible;

}

.sidebarLinks {	
	padding: 30px;
	padding-bottom: 80px;
	margin: 0;
	overflow-y: auto;
}

@media (max-width: 992px) {
	.wrapper {
		padding: 2.25rem 20px 0 2.25rem;
	}
	.opened {
		padding-left: 20px;
	}
}
