.wrapper {
    position: relative;
}

.button {
    padding: 0;
}

.buttonIcon, .buttonIcon > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.popup {
    background-color: var(--bg-primary-1);
    z-index: 3;
    border: 1px solid var(--bg-accent);
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 14px;
}

.text {
    font-size: 14px;
    font-weight: 500;
}

.item.active {
    background-color: var(--bg-accent);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}
