.category {
    background-color: #C3A3E9;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    font: var(--font-secondary);
    color: var(--text-primary-1);
}