.li {
	width: 100%;

	list-style-type: none;
}

.img {
	min-width: 40px;
}

.link {
	display: flex;
	align-items: center;

	height: 3.75rem;

	cursor: pointer;
	text-decoration: none;

	font-weight: 700;
}

.openedLink img {
	margin: 0 0.875rem;
}

.text {
	display: none;

	margin-right: auto;

	text-align: left;
}

.opened {
	display: block;

	margin-left: 1.5rem;
}

.dropdownContainer {
	display: flex;

	width: 100%;
	margin: 0 0.875rem;
}

.dropdown {
	display: flex;
	flex-direction: column;
}

.dropdownItem {
	margin: 1.25rem 0;
	margin-left: 2.25rem;
}

.dropdownLine {
	width: 2px;
	height: auto;
	margin: 0 1.25rem;

	background-color: var(--color-gray);
}

.dark {
	color: var(--color-white);
	background-color: inherit;
	.isMatchRoute {
		color: var(--dark-theme-color);
	}
}

.light {
	color: var(--white-theme-color);
	.isMatchRoute {
		color: var(--color-black-tertiary);
	}
}