.wrapper {
    width: 100%;
}

.container {
  margin-top: 20px;
}

.containerList {
    margin-top: 20px;
    height: 560px;
    overflow: scroll;
    will-change: transform;

    &::-webkit-scrollbar {
        width: 5px;
      }
      
      &::-webkit-scrollbar-track {
        background: var(--color-white);
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: var(--radius);
        background-color: var(--color-blue);
      }
  
      &:empty{
        border: none;
      }
}
