.wrapper {
    display: flex;
    column-gap: 24px;
}

.btnOffers {
    background-color: var(--text-primary-1);
    border-radius: 10px;
    font-size: 16px;
    color: var(--bg-primary-1);
    line-height: 16px;
    box-sizing: border-box;
    padding: 9px 20px;

    &:hover {
        background-color: rgb(102, 191, 255);
    }
}

.btnCommunity {
    position: relative;
    display: flex;
}

.btnAbout {
    position: relative;
    display: flex;
}

.btnNav {
    text-decoration: none;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 16px;
    color: var(--accent-color);
    cursor: pointer;
    user-select: none;
    position: relative;
}

.popup {
    position: absolute;
    z-index: 5;
    padding: 20px;
    background-color: var(--bg-field);
    top: 120%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .offersContainer {
        display: flex;
        column-gap: 30px;
        min-width: 280px;

        .famousContainer,
        .acrossRussiaContainer {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }

    .title {
        border-bottom: 1px solid var(--text-caption);
        padding-bottom: 15px;
        font-size: 16px;
    }

    .viewAll {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        color: var(--accent-color);
        margin-top: 15px;
    }
}

.offersWrapper {
    position: relative;
}

.dropdownLink {
    color: #212121;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    &:hover {
        color: var(--hover-blue);
    }
}

.searchIcn {
    margin-left: 12px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    stroke: var(--text-secondary-1);
    fill: none;
}
