.wrapper {
  min-height: 100vh;
  padding-bottom: 36px;
}

.abilities, .draftsTitle {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.pagination {
  justify-content: flex-start;
}

.draftsTitle {
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btnWrapper {
  margin-top: 50px;
  .btn {
    padding: 12px 100px;
  }
}
