.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 4px;

    img {
        width: 16px;
        height: 16px;
    }
}

.reviewInfo {
    display: flex;
    align-items: center;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.reviewText {
    font-size: 14px;
    font-weight: 500;
    white-space: pre-line;
}

.rating {
    font-weight: 700;
    font-size: 14px;
}

.name {
    margin-left: 8px;
    color: var(--text-primary-1);
}

.avatar {
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-left: 12px;
}

.name, .avatar {
    cursor: pointer;
}

.date {
    margin-left: 12px;
}
