.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-weight: 400;
}

.wrapper {
    max-width: 100%;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.content {
    margin-top: 20px;
    height: 100%;
    max-height: calc(100vh - 200px);
    border-top: 1px solid var(--bg-accent);
    display: flex;
    flex-grow: 1;
}

.userList {
    height: 100%;
    flex-grow: 1;
}

.chat {
    width: 100%;
}
