.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font: var(--font-label);
    max-height: 44px;

    &:hover {
        fieldset {
            border: var(--text-caption) 2px solid !important;
        }
    }
}

.select:global.MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
        border: var(--text-caption) 1px solid;
    }
}

.select:global.MuiSelect-select {
    min-height: auto;
    padding: 14px;
}

.input {
    border: none;
}

.label {
    font: var(--font-secondary);
    color: var(--text-caption);
}