.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 30px;
}

.title {
    text-align: center;
}

@media(max-width: 992px) {
    .content {
        justify-content: center;
    }
}
