.wrapper {
	display: flex;
	flex-direction: column;

	width: 100%;

	.title {
		pointer-events: none;

		opacity: 0.8;

		color: var(--color-black-primary);

		font-size: 0.875rem;

		font-weight: 500;
		line-height: 138%;
		mix-blend-mode: normal;
	}
}
