.app_default_theme, .modal {
  --text-primary-1: #3DABF7;
  --text-primary-2: #0E1D27;

  --text-secondary-1: #FFF;
  --text-secondary-2: #212121;

  --text-caption: #8494A1;

  --accent-color: #3DABF7;

  --page-color: #FAFCFE;

  --bg-primary-1: #FFF;
  --bg-primary-2: #FBFDFE;
  
  --bg-accent: #DFE6EB;

  --bg-field: #ECF1F4;

  --button-1: #02CC9B;
  --accent-elements: #DFE6EB;
  --field: #ECF1F4;

  --new-color: #79C8FF;
  --accepted-color: #77EB98;
  --confirmed-color: #5EECD2;
  --rejected-color: #FCC3C3;

  --error-color: #EB5757;

  --footer: #0E1D27;
}
