.app_default_theme {
  --text-primary-1: #3DABF7;
  --text-primary-2: #0E1D27;

  --text-secondary-1: #FFF;
  --text-secondary-2: #212121;

  --text-caption: #8494A1;

  --bg-button-1: #3DABF7;
  --bg-button-2: #02CC9B;

  --bg-primary-1: #FFF;
  --bg-primary-2: #FBFDFE;
  
  --bg-accent: #DFE6EB;

  --bg-field: #ECF1F4;

  --bg-footer: #0E1D27;
}
