.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.viewAll {
    text-decoration: none;
    color: var(--text-primary-1);
    margin-top: 20px;
}

.commentsCount {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

@media(max-width: 576px) {
    .wrapper {
        margin-top: 40px;
        padding-top: 20px;
    }

    .container {
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .viewAll {
        margin-top: 15px;
    }
}
