.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-top: 1px solid var(--bg-accent);
}

.attachmentFile {
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 20px;
    background-color: var(--text-secondary-1);
    width: 100%;
    color: var(--text-primary-1);
    display: flex;
    gap: 15px;
    align-items: center;
}

.button {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    svg {
        object-fit: contain;
        stroke: var(--text-caption);
        fill: transparent;
    }
}

.textField .MuiInputBase-input::-webkit-scrollbar {
    width: 10px;
}

.textField .MuiInputBase-input::-webkit-scrollbar-track {
    background: var(--color-white);
}

.textField .MuiInputBase-input::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background-color: var(--bg-accent);
}

.emojiWrapper {
    position: absolute;
    bottom: 300%;
    right: 0;
}

.send {
    width: 20px;
    height: 20px;
    padding: 0;
}



.icon > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteIcon {
    svg {
        fill: var(--text-caption);
    }
}

.iconSend {
    svg {
        fill: var(--text-primary-1);
    }
}

.iconSend.disabled {
    svg {
        fill: var(--text-caption);
    }
}

@media (max-width: 992px) {
    .emojiWrapper {
        width: 70vw;
    }
    .emojiWrapper > aside {
        width: 100% !important;
    }
}


@media (max-width: 480px) {
    .emojiWrapper {
        width: 85vw;
        right: -180%;
    }
    .emojiWrapper > aside {
        width: 100% !important;
    }
}
