.location {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.address {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1.5rem;
	}
}
