.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1920px;
    padding: 0 120px;
    padding-bottom: 50px;
    margin: 0 auto;

    h2 {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
    }
}

.button {
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
        padding-bottom: 50px;
    }
}
