.wrapper {
	padding-top: 40px;
	padding-bottom: 4.125rem;
	padding-left: 120px;
	padding-right: 120px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.title {
	font: var(--font-h2);
}

@media (max-width: 1000px) {
	.title {
		text-align: center;
		padding-bottom: 20px;
	}

	.wrapper {
		align-items: center;
		margin: 0 auto;
		justify-content: center;
		gap: 0;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 600px) {
	.title {
		padding-bottom: 0;
	}
}
