.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.languages {
    font-size: 14px;
    font-weight: 500;
}

.languages span:nth-child(odd) {
    color: black;
}

.languages span:nth-child(even) {
    color: var(--text-caption);
}
