.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 32px;
}

.ratingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingNum{
    font-size: 18px;
}

.ratingText{
    font-size: 14px;
}

@media (max-width: 576px) {
    .wrapper {
        justify-content: center;
    }
}
