.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.ratingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingNum{
    font-size: 18px;
}

.ratingText{
    font-size: 14px;
}

@media (max-width: 576px) {
    .wrapper {
        justify-content: center;
    }
}
