.wrapper {
    max-width: 1500px;
}

.title {
    color: var(--text-primary);
    font-size: 1.625rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.description {
    color: var(--text-primary);
    font-size: 16px;
}

.widget {
    margin-top: 30px;
}

@media (max-width: 992px) {
    .title,
    .description {
        text-align: center;
    }
}
