.wrapper {
    margin-top: 30px;
}

.title {
    color: #8494a1;
    font-size: 18px;
    font-weight: 500;
}

.tagInput {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 624px;
    min-height: 96px;
    padding: 14px;
    border: 1px solid #d6d8da;
    border-radius: 10px;
    margin-top: 20px;

    .tagList {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

input {
    flex-grow: 1;
    align-self: baseline;
    max-width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: inherit;

    &:focus {
        outline-offset: -2px;
    }

    &::placeholder {
        color: rgba(33, 33, 33, 0.4);
        font-size: 14px;
        font-weight: 500;
        white-space: pre-wrap;
    }
}
