.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content {
    display: flex;
    gap: 10px;
}

.stateButton {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-primary-1);
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    font: var(--font-label);
}

.formWrapper {
    display: flex;
    gap: 20px;
}

.fileInput {
	margin-top: 2.8rem;
}

@media (max-width: 600px) {
	.fileInput {
		margin-top: 0;
	}
}


@media (max-width: 992px) {
    .formWrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-top: 15px;
    }
}
