.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

