.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;

	text-align: center;

	.title {
		color: #DFE6EB;

		font-size: 1.625rem;
		font-weight: 400;
		line-height: 123%;
	}

	.description {
		max-width: 780px;
		margin-top: 50px;
		margin-bottom: 60px;

		color: #82949F;

		font-size: 0.875rem;
		line-height: 157%;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 1180px;

	margin-bottom: 60px;
}
