.wrapper {
    background-color: var(--color-white);
    display: flex;
    gap: 14px;
    width: 100%;
    align-items: flex-start;
    border: 1px solid var(--bg-accent);
}

.cardWrapper {
    box-shadow: none;
}

.button {
    margin-right: 1.25rem;
    margin-top: 1.25rem;
}

@media (max-width: 480px) {
}
