.wrapper {
    display: flex;
    gap: 24px;
    width: 100%;
}

.titleSelect {
    font-size: 14px;
    color: var(--text-caption);
}

.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.select {
    width: 100%;
    min-height: 44px;
}

// @media (max-width: 992px) {
//     .select {
//         max-width: none;
//         min-width: 225px;
//     }
// }

@media (max-width: 567px) {
    .wrapper {
        width: auto;
        gap: 10px;
    }
    .selectContainer {
        width: 130px;
    }
}
