.leftInput {
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.rightInput {
    border-radius: 0 10px 10px 0;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
}

@media (max-width: 992px) {
    .calendarWrapper {
        left: auto;
        right: -20%;
    }
}
