.wrapper {
    min-height: 50vh;
}

.container {
    margin-top: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.draftWrapper {
    margin-top: 60px;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: fit-content;
}
