.sideMenu {
    position: fixed;
    width: 6.25rem;
    height: 100vh;
    transition: all 600ms ease;
}

.open {
    transform: translate();
    width: 20.625rem;
}

.dark {
    color: var(--color-white);
    background-color: var(--color-black);
}

.white {
    background-color: var(--color-white);
    color: var(--color-black-tertiary);
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.03);
}