.sideMenu {
	position: fixed;
	left: 0;
	width: 6.25rem;
	height: 100vh;

	transition: all 600ms ease;
}

.open {
	width: 20.625rem;

	transform: translate();
}

.dark {
	color: var(--color-white);
	background-color: var(--color-black);
}

.white {
	color: var(--color-black-tertiary);
	background-color: var(--color-white);
	box-shadow: 3px 0 8px rgb(0 0 0 / 3%);
}
