

.topList {
    border: 1px solid var(--bg-accent);
    padding: 9px 8px;
}

.layout {
    display: flex;
    width: 100%;
    max-width: 980px;
    min-width: 200px;
    max-height: calc(100vh - 180px);
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--bg-accent);
    width: 100%;
    
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-white);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: var(--radius);
        background-color: var(--bg-accent);
    }
}

.rightBorder {
    position: sticky;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: ew-resize;
    flex-shrink: 0;
}
