.wrapper {
	position: relative;

	width: 100%;
}

.input {
	box-sizing: border-box;
	width: 100%;
	margin-top: 0.5rem;
	padding: 0.875rem;

	border: var(--color-gray) 1px solid;
	border-radius: 0.625rem;
	outline: none;

	font-family: Lato;
	font-size: 1rem;
	font-weight: 400;
}

.label {
	color: var(--color-gray);

	font-family: Lato;
	font-size: 0.875rem;
	font-weight: 400;
}

.labelWrapper {
	display: flex;
	align-items: center;
}

.image {
	max-width: 1.125rem;
	margin-right: 0.625rem;
}

.description {
	margin-top: 0.5rem;

	color: var(--color-gray);

	font-size: 0.625rem;
}
