.wrapper {
    display: flex;
    gap: 60px;
    padding: 40px 60px;
    background-color: var(--bg-field);
    width: 100%;
    min-height: 230px;
    border-radius: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.containerInfo {
    width: 100%;
    max-width: 510px;
}

.btnMedalsContainer {
    width: 100%;
    max-width: 280px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.type {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-secondary-2);
}

.name {
    font-size: 26px;
    font-weight: 400;
    color: var(--text-secondary-2);
}

.addres {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-secondary-2);

}

.image {
    width: 150px;
    height: 150px;
}

.button {
    margin-top: auto;
    background-color: white;
}

.socials {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 250px;
    gap: 8px;
}

.social {
    display: flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
}

.social path {
    fill: var(--text-primary-2);
}

.social p {
    color: var(--text-primary-2);
    font-size: 14px;
    font-weight: 700;
    display: contents;
}

@media(max-width: 576px) {
    .wrapper {
        padding: 20px;
    }

    .btnMedalsContainer {
        margin-left: 0;
    }

    .socials {
        grid-template-columns: 1fr;
    }
}
