.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.container {
    margin-top: 40px;
}
