.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
}

.buttons {
  display: flex;
  gap: 10px;
}

.textarea {
    max-width: 600px;
}

@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
