.container {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.titleReports,
.titleActivity {
    text-align: center;
    font-size: 1.625rem;
    font-weight: 400;
}

.titleActivity {
    margin-top: 60px;
}


@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
