.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
}

.description {
	margin-top: 30px;
	margin-bottom: 35px;

	text-align: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.slider {
	max-width: 90%;
}

.arrow {
	margin-bottom: 100px;

	cursor: pointer;

	.arrowIcon {
		display: block;
		width: 20px;
		height: 38px;
		background-color: var(--text-caption);
		transition: background-color 0.3s ease;
		mask: url("../../shared/assets/icons/slider-arrow.svg") no-repeat center / contain;
		-webkit-mask: url("../../shared/assets/icons/slider-arrow.svg") no-repeat center / contain;
	}

	&:hover .arrowIcon {
		background-color: var(--text-primary-1);
	}

	&:last-child {
		.arrowIcon {
			transform: rotate(180deg);
		}
	}
}

@media screen and (max-width: 768px) {
	.arrow {
		display: none;
	}
}
