.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.skillIcon {
    background-color: var(--text-caption);
    svg{
        // fill: var(--text-secondary-1);
        fill: var(--text-caption);
    }
    width: 46px;
    height: 46px;
}

.skills {
    display: flex;
}

.icon {
    width: 46px;
    height: 46px;
    gap: 0;
    background-color: var(--bg-accent) !important;
    svg {
        fill: var(--text-caption);
    }
}

.inputIcon {
    max-width: 14px;
    max-height: 14px;
}
