.container {
    margin-top: 20px;
}

.languages {
    font-size: 16px;
    font-weight: 500;
}

.languages span:nth-child(odd) {
    color: black;
}

.languages span:nth-child(even) {
    color: var(--text-caption);
}
