.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.link {
	display: flex;
	align-items: center;

	cursor: pointer;

	a {
		margin-right: 7px;

		transition: color 0.2s ease-in-out;
		text-decoration: none;

		color: var(--color-blue);

		font-size: 1rem;
		font-weight: 600;
		line-height: 19px;
	}

	a:hover {
		color: var(--hover-blue);
	}
}

.btn {
	padding: 9px 10px;
}

.menu {
	position: fixed;

	z-index: 1000;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 150px 15px 15px;

	transition: transform 0.5s;
	transform: translateX(100%);

	background: var(--color-white);

	.link {
		margin-bottom: 20px;

		a {
			font-size: 1.125rem;
			font-weight: 600;
		}
	}
}

.active {
	transform: translateX(0);
}

.link:nth-child(3) {
	position: relative;
}

.popup {
	z-index: 1005;
	top: 25px;
	left: -10px;

	display: flex;
	flex-direction: column;

	min-width: 120px;

	padding: 17px;

	background-image: url("data:image/svg+xml,%3Csvg width='169' height='260' viewBox='0 0 169 260' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 7H169V260H0V7Z' fill='%23ECF1F4'/%3E%3Cpath d='M24 0L30.0622 7.5H17.9378L24 0Z' fill='%23ECF1F4'/%3E%3C/svg%3E%0A");

	a {
		margin-bottom: 10px;

		color: var(--color-black-primary);

		font-size: 0.875rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.burger {
	position: relative;
	z-index: 1001;

	display: none;
	overflow: hidden;

	width: 30px;
	height: 30px;

	cursor: pointer;

	span {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 30px;
		height: 3px;

		transition: all 0.5s;
		transform: translate(-50%, -50%);

		background-color: var(--color-blue);

		&:nth-of-type(2) {
			top: calc(50% - 8px);
		}

		&:nth-of-type(3) {
			top: calc(50% + 8px);
		}
	}
}

.open {
	span:nth-of-type(1) {
		display: none;
	}

	span:nth-of-type(2) {
		top: 50%;

		transform: translate(-50%, 0%) rotate(45deg);
	}

	span:nth-of-type(3) {
		top: 50%;

		transform: translate(-50%, 0%) rotate(-45deg);
	}
}

@media screen and (max-width: 1260px) {
	.burger {
		display: block;
	}

	.header {
		.link {
			display: none;
		}
	}
}
