.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.link {
	display: flex;
	align-items: center;

	cursor: pointer;

	a,
	p {
		margin-right: 7px;

		transition: color 0.2s ease-in-out;
		text-decoration: none;

		color: var(--color-blue);

		font-size: 1rem;
		font-weight: 600;
		line-height: 19px;
	}

	a:hover {
		color: var(--hover-blue);
	}
}

.btn {
	padding: 9px 10px;
}

.link {
	position: relative;
}

.popup {
	z-index: 1005;
	top: 25px;
	left: -10px;

	display: flex;
	flex-direction: column;

	min-width: 120px;

	padding: 17px;

	background-color: var(--bg-field);

	a {
		margin-bottom: 10px;

		color: var(--color-black-primary);

		font-size: 0.875rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 20px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid var(--bg-field);
    }
}

.mobile__header__wrapper {
	display: none;

	width: 100%;
}

@media screen and (max-width: 1280px) and (min-width: 1000px) {
	.header {
		display: none;
	}

	.mobile__header__wrapper {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.header {
		display: none;
	}

	.mobile__header__wrapper {
		display: block;
	}
}
