.wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 992px) {
    .wrapper {
        flex-direction: column;
        width: min-content;
        align-items: flex-start;
        gap: 10px;
    }
}
