.sidebar {
	position: fixed;
	z-index: 0;
	left: 0;

	box-sizing: border-box;
	width: 100%;

	max-width: 320px;
	height: 100%;

	min-height: 100%;
	padding: 45px 25px 125px 50px;

	color: var(--color-white);

	background-color: var(--color-dark-blue);
}
