.sidebar {
	position: fixed;
	z-index: -3;
	top: 0;
	left: 0;

	box-sizing: border-box;
	width: 100%;

	max-width: 320px;
	height: 100%;

	min-height: 100%;
	padding-top: 120px;
	padding-right: 25px;
	padding-bottom: 70px;
	padding-left: 50px;

	color: var(--color-white);

	background-color: var(--color-dark-blue);
}
