.wrapper {
    max-width: 880px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.title {
    font-size: 1.625rem;
    font-weight: 400;
}

.text {
    font-size: 14px;
}

@media (max-width: 992px) {
    .title,
    .text {
        text-align: center;
    }
}
