.item {
    display: flex;
    align-items: center;

    cursor: pointer;

    .number {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;

        color: #8494a1;
        border-radius: 50%;
        background-color: #303a40;

        font-size: 1.125rem;
        font-weight: 600;
    }

    .title {
        max-width: 90px;

        margin-left: 10px;

        text-align: left;

        color: #dfe6eb;

        font-size: 0.875rem;
        font-weight: 600;
        line-height: 129%;
    }
}

@media screen and (max-width: 1180px) {
    .item {
        margin: 30px;
    }
}
