.item {
	display: flex;
	align-items: center;

	cursor: pointer;

	.number {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 40px;
		height: 40px;

		color: #8494A1;
		border-radius: 50%;
		background-color: #303A40;

		font-size: 1.125rem;
		font-weight: 600;
	}

	.title {
		max-width: 90px;

		margin-left: 10px;

		text-align: left;

		color: #DFE6EB;

		font-size: 0.875rem;
		font-weight: 600;
		line-height: 129%;
	}
}
