.arrow {
	width: 0;
	height: 0;

	border-width: 3px 3px 0;
	border-style: solid;
	border-color: #007BFF transparent transparent;
}

.open {
	border-width: 0 3px 3px;
	border-color: transparent transparent #007BFF;
}
