.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.sidebarContent {
    display: flex;
    gap: 30px;
    max-width: 1280px;
    
}

.sideMenu {
    flex: 1 0 350px;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 992px) {
    .sideMenu {
        display: none;
    }
}
