.wrapper {
    display: flex;
    padding: 50px 30px 60px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    align-self: stretch;
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(14, 29, 39, 0.05);
    width: 100%;
    max-width: 485px;
}

.title {
    color: var(--text-primary);
    font-size: 26px;
    line-height: 120%;
}

.description {
    color: var(--text-primary-1);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.button {
    color: var(--text-secondary-1);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--text-primary-1);
    padding: 10px 80px;
    border-radius: 10px;

    &:hover {
        background-color: #60bdff;
    }
}

@media (max-width: 992px) {
    .wrapper {
        width: 100%;
    }

    .button {
        width: 90%;
    }
}
