.wrapper {
    position: relative;
    width: 130px;
    height: 174px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.title {
    color: white;
    font-size: 18px;
    font-family: Lato;
    font-weight: 500;
    line-height: 23.4px;
    text-align: center;
    transition: transform 0.3s ease;
}

.title.selected {
    transform: translateY(40px);
}

.checkIcon {
    position: absolute;
    visibility: hidden;
    right: 10px;
    top: 10px;
}

.check {
    visibility: visible;
}
