.buttons {
  margin-top: 60px;
  display: flex;
  gap: 10px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.error {
    font-size: 0.75rem;
    color: #d32f2f;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loading {
    max-width: 1280px;
}

@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
