.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filterControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.wrapperClassName {
    width: 100%;
}

.helpText {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-theme-color);
}

@media (max-width: 662px) {
}
