.slide {
	display: flex;
	align-items: center;

	width: 100%;
	min-height: 100vh;

	background-repeat: no-repeat;
	background-size: cover;

	.content {
		display: flex;
		flex-direction: column;
		gap: 30px;

		padding: 0 50px;

		h1 {
			margin-bottom: 10px;

			color: var(--color-white);

			font-size: 72px;
			font-weight: 600;
			line-height: 100%;
		}

		p {
			color: var(--color-white);
			font-size: 18px;
			font-weight: 500;
			line-height: 130%;
			mix-blend-mode: normal;
		}
	}

	.description {
		display: flex;
		align-items: center;
		gap: 30px;

		img {
			width: 100px;
		}

		span {
			color: var(--color-white);
			font-weight: 400;
			font-size: 16px;
		}
	}

	.buttonLink {
		width: fit-content;
	}
}


@media (max-width: 1600px) {
	.slide {
		.content {
			h1 {
				font-size: 48px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.slide {
		.content {
			h1 {
				font-size: 32px;
			}
		}

		.description {
			flex-direction: column;
			align-items: flex-start;
			white-space: normal;
		}
	}
}
