.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 10px
}

.content {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.contentRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articlesList {
    max-width: 780px;
    width: 100%;

}

@media (max-width: 1000px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .articlesList {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 992px) {
    .memberBanner {
        max-width: none;
    }
    .content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}
