.wrapper {
    padding-top: 20px;
}

.btn {
    margin-top: 60px;
}

.container {
    margin-top: 30px;
}

.input {
    max-width: 300px;
}

.textarea {
    max-width: 620px;
}

.loading {
    max-width: 1280px;
}
