.wrapper {
    padding-top: 20px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.container {
    margin-top: 30px;
}

.input {
    max-width: 300px;
}

.textarea {
    max-width: 620px;
}

.loading {
    max-width: 1280px;
}

@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
