.wrapper {
    width: 100%;
    max-width: 1920px;
    min-height: 380px;
    background-image: url('@/shared/assets/images/academy-main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-secondary-1);
    text-align: center;
}

.button {
    width: max-content;
}

@media (max-width: 992px) {
    .wrapper {
        padding: 0 20px;
    }
}
