.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;

	h2 {
		margin-bottom: 55px;
	}
}

.attention {
	margin-top: 20px;

	opacity: 0.5;
	color: var(--color-black-primary);

	font-size: 0.875rem;
	font-weight: 500;
	mix-blend-mode: normal;
}

@media screen and (max-width: 667px) {
	.socials {
		width: 100%;
	}

	.attention {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.wrapper {
		flex-direction: column;
	}
}
