.item {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: 15%;
    height: 280px;

    padding: 0 20px;

    cursor: pointer;
    transition: var(--main-transition);

    border-radius: var(--border);

    background-size: cover;
    background-blend-mode: darken, normal, normal;

    p {
        text-align: center;

        color: var(--color-white);

        font-size: 1.125rem;
        font-weight: 700;
        line-height: 122%;
    }

    &:hover {
        transform: scale(1.05);
    }
}
