.wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
}

.content {
    padding: 120px 40px;
    width: 100%;
    transition: all 0.3s ease-in;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    position: absolute;
    top: 30px;
    right: 20px;
}

.left {
    display: flex;
    background-color: green;
    width: 100%;
    height: 100%;
    transition: width 0.4s ease-in;
    cursor: pointer;
}

.arrow {
    position: absolute;
    transition: all 0.4s ease-in;
    svg {
        fill: var(--text-secondary-1);
        stroke: var(--text-secondary-1);
        width: 20px;
        cursor: pointer;
        padding: 5px;
    }
}

.cornerLeft,
.cornerRight {
    position: relative;
    width: 30px;
    flex-shrink: 0;
}

.arrowLeft {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    &>div {
        display: flex;
    }
}

.arrowLeft:hover {
    transform: translate(-50%, -50%) rotate(90deg) scale(1.25);
}

.arrowLeftRotated {
    transform: translate(-50%, -50%) rotate(270deg);
}



.arrowRight {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);

    &>div {
        display: flex;
    }
}

.arrowRight:hover {
    transform: translate(-50%, -50%) rotate(270deg) scale(1.25);
}

.arrowRightRotated {
    transform: translate(-50%, -50%) rotate(90deg);
}

.right {
    display: flex;
    flex-direction: row-reverse;
    background-color: red;
    width: 100%;
    height: 100%;
    transition: width 0.4s ease-in;
    overflow: hidden;
    cursor: pointer;
}

.sliderFull {
    width: calc(100% - 30px);
}

.sliderHalf {
    width: 55%;
}

.sliderAlmostHalf {
    width: 45%;
}

.sliderCollapsed {
    width: 30px;
}

.contentCollapsed {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    padding: 0;
}

.arrowHidden {
    opacity: 0;
    visibility: hidden;
}
