.wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
}

.content {
    padding: 40px;
    width: 100%;
    transition: all 0.3s ease-in;
}

.left {
    display: flex;
    background-color: green;
    width: 100%;
    height: 100%;
    transition: width 0.4s ease-in;
}

// .left:hover + .right {
//     width: 45%;
// }

// .left:hover {
//     width: 55%;
// }

.leftFull {
    width: calc(100%);
}

.leftCollapsed {
    width: 30px;
}

.arrow {
    position: absolute;
    transition: all 0.4s ease-in;
    svg {
        fill: var(--text-secondary-1);
        stroke: var(--text-secondary-1);
        width: 20px;
        cursor: pointer;
        padding: 5px;
    }
}

.cornerLeft,
.cornerRight {
    position: relative;
    width: 30px;
    flex-shrink: 0;
}

.arrowLeft {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    &>div {
        display: flex;
    }
}

.arrowLeftRotated {
    transform: translate(-50%, -50%) rotate(270deg);
}



.arrowRight {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);

    &>div {
        display: flex;
    }
}

.arrowRightRotated {
    transform: translate(-50%, -50%) rotate(90deg);
}

.right {
    display: flex;
    flex-direction: row-reverse;
    background-color: red;
    width: 100%;
    height: 100%;
    transition: width 0.4s ease-in;
    overflow: hidden;
}


// .right:hover + .left {
//     width: 35%;
// }

// .right:hover {
//     width: 65%;
// }

.sliderFull {
    width: calc(100% - 30px);
}

.sliderCollapsed {
    width: 30px;
}

.contentCollapsed {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    padding: 0;
}

.arrowHidden {
    opacity: 0;
    visibility: hidden;
}
