.wrapper {
    width: 100%;
    position: relative;
    padding: 0 50px;
}

.swiper {
    position: static;
}

.containerSwiper{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 576px) {
    .wrapper {
        padding: 0;
    }
}
