.wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.skillsText {
  color: var(--text-caption);
  font: var(--text-secondary);
}

@media(max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
}
