.wrapper {
	display: flex;
	min-height: 100vh;
	border-bottom: 1px solid #DFE6EB;
}

.slider {
	// position: relative;
	width: 50%;
}

.logotype {
	position: absolute;
	z-index: 999;
	top: 25px;
	left: 50px;
}

.info {
	width: 50%;
	background-color: var(--color-white);
}

@media screen and (max-width: 1000px) {
	.wrapper {
		flex-direction: column-reverse;
	}

	.slider {
		// display: none;
		width: 100%;
	}

	.info {
		width: 100%;
	}
}
