.btn {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    gap: 8px;
        
    background: #F1F9FD;
    border: 1px solid #82949F;
    border-radius: 10px;

    cursor: pointer;
}