.calendar {
    max-width: 300px;
}

.calendarWrapper {
    z-index: 10;
    top: 120%;
    left: 5%;
    position: absolute;
}

.calendarWrapper.close {
    visibility: hidden;
}

.inputWrapper {
    .input {
        width: 100%;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
    }
    
    .input:focus, .input:hover  {
        outline: none;
    }
    
    .input.disabled {
        pointer-events: none;
    }
}

.wrapper {
    position: relative;
    cursor: pointer;
}

.date {
    font-size: 24px;
}

.invalid {
    border: none;
    color: red;
}

.img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 2%;
    cursor: pointer;
}
