.title {
    font-family: 'Lato';
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.form {
    display: flex;
}

.btn {
    margin-top: 60px;
}

.wrapper {

}