.footer {
	display: flex;
	justify-content: center;

	padding-top: 50px;
	padding-bottom: 25px;

	background-color: var(--color-dark-blue);
}

.copyright {
	display: flex;
	justify-content: center;

	padding-top: 15px;
	padding-bottom: 40px;

	border-top: 0.5px solid #8494A1;
	background-color: var(--color-dark-blue);

	p {
		color: #82949F;

		font-size: 0.875rem;
		font-weight: 500;
		line-height: 171%;
	}
}

.container {
	display: flex;
	justify-content: space-between;

	width: 100%;
	max-width: 1150px;
}

.info {
	display: flex;
	flex: 1;
	flex-direction: column;

	.logo {
		display: flex;
		align-items: center;

		.logotype {
			margin-right: 40px;
		}
	}

	.socials {
		display: flex;
		align-items: center;

		margin-top: 40px;
		margin-bottom: 15px;

		a {
			margin-right: 16px;
		}
	}

	.write {
		color: #82949F;
		text-decoration-line: underline;

		font-size: 0.875rem;
		line-height: 171%;
	}
}

.menu {
	display: flex;
	flex: 2;
	justify-content: space-between;

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 25px;

		color: var(--color-white);

		font-size: 1.125rem;
		font-weight: 500;
		line-height: 122%;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}
}

.link {
	color: #82949F;

	font-size: 0.75rem;
	font-weight: 500;
	line-height: 167%;
	text-decoration-line: underline;
}
