// .btn {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 14px 20px;
//     gap: 8px;

//     white-space: nowrap;

//     background-color: var(--color-gray-light);
//     color: var(--white-theme-color);
    
//     border: 1px solid var(--white-theme-color);
//     border-radius: 10px;

//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 400;
//     font-size: .875rem;

//     text-align: center;
//     line-height: normal;

//     cursor: pointer;
// }

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    gap: 8px;

    white-space: nowrap;

    background-color: var(--color-blue);
    color: var(--color-white);
    
    border: none;
    border-radius: 10px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;

    text-align: center;
    line-height: normal;

    cursor: pointer;
}

.disabled {
    background: #F1F9FD;
    border-color: #82949F;
    color: #8494A1;
    cursor: not-allowed;
}
