.button {
    background-color: var(--text-primary-1);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--text-caption);
    padding: 15px 20px;
    font-size: 14px;
    color: white;

    .plus svg {
        width: 14px;
        height: 14px;
        margin-right: 10px;
        fill: white;
        display: flex;
    }

    &:hover {
        color: black;
        .plus svg{
            fill: black;
        }
    }
    &:disabled {
        background-color: var(--bg-field);
        color: var(--text-caption);
        .plus svg{
            fill: var(--text-caption);
        }
        cursor: not-allowed;
    }
}
