.wrapper {
    padding-left: 200px;
    padding-right: 200px;
}

.title {
    text-align: center;
}

.swiper {
    margin-top: 36px;
}

.swiperWrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.slide {
    max-width: 220px;
    max-height: 170px;
    object-fit: cover;
}
