.wrapper {
    height: 100%;
}

.wrapperOffersMap {
    display: flex;
}

.searchOffersList, .offersMap {
    flex: 1;
    height: calc(100vh - 12rem);
    // height: 100%;
}

.offersMap.close {
    display: none;
}

.searchOffersList {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.searchOffersList.closed {
    max-width: 100%;
}

.mobile {
    display: none;
}

.searchWrapper {
    padding: 12px 30px;
}

@media (max-width: 1400px) {
    .searchOffersList, .offersMap {
        height: calc(100vh - 16.125rem);
    }
}

@media (max-width: 992px) {
    .wrapperOffersMap, .filter {
        display: none;
    }

    .mobile {
        display: inline-block;
    }
}
