  .text {
    font-size: 14px;
    color: var(--white-theme-color);
  }
  
  .contentWrapper {
    display: flex;
    gap: 20px;
  }

  .dropdown{
    position: absolute;
    top:100%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 100%;
    max-height: 220px;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: var(--color-white);
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius);
      background-color: var(--color-blue);
    }

    &:empty{
      border: none;
    }
  }

  

  .input{
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }

  .dropdown:empty ~ .input {
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .wrapperCard{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: inherit;
  }
  
  .inputContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
