.wrapper h2 {
    margin-bottom: 20px;
}

.table {
    height: 65vh;
}

.actionButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.btnIcon {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
}

.btnIcon svg {
    width: 25px;
    height: auto;
    transition: all 0.3s ease;
}

.btnIcon:hover {
    scale: 1.05;
}

.btnEdit path {
    stroke: var(--accent-color);
}

.btnEdit svg {
    fill: none;
}

.btnShow g {
    fill: var(--text-primary-2);
}

.btnPublish svg {
    fill: var(--text-caption);
}

.btnPublish.active svg {
    fill: var(--button-1);
}

.btnBlock g {
    fill: var(--text-caption);
}

.btnDelete g {
    fill: var(--error-color);
}

.skillImg svg {
    width: 20px;
    fill: var(--text-primary-1);
}
