.form {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 400px;

	.btn {
		margin-top: 20px;
	}
}

.duplicateEmailHint {
	margin-top: 8px;
	font-size: 14px;
	color: var(--text-caption);
}
