.wrapper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.btn {
  border: 1px solid var(--bg-accent);
  border-radius: 1.25rem;
  background-color: var(--bg-accent);
  
  &:hover {
    border-color: var(--text-caption);
  }

  &.checked {
    background-color: var(--accent-color);
  }

  &.active {
    background-color: var(--bg-button-1);
  }
}

.text {
  font: var(--font-label);
  color: var(--text-secondary-2);
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.checked {
  svg {
    fill: white;
  }
  stroke: none;
}

.rounded {
  border-radius: 50%;
}

.small {
  width: 20px;
  height: 20px;
  &.icon {
    width: 16px;
    height: 16px;
  }
}

.medium {
  width: 32px;
  height: 32px;
  &.icon {
    width: 18px;
    height: 18px;
  }
}

.large {
  width: 40px;
  height: 40px;
  &.icon {
    width: 20px;
    height: 20px;
  }
}
