.wrapper {
    .ProseMirror {
        li p {
            margin: 0;
        }
    }
    ul,
    ol {
        padding-left: 40px;
    }
}

.input {
    border: 1px solid var(--text-caption);
    border-top: 0;
    border-radius: 0;
    padding: 15px;
    min-height: 500px;

    &:focus {
        outline: none;
        border: 1px solid var(--text-caption);
    }
}
