.wrapper {
	display: flex;

	height: 100vh;

	border-bottom: 1px solid #DFE6EB;
}

.slider {
	position: relative;

	width: 50%;
}

.logotype {
	position: absolute;
	z-index: 999;
	top: 25px;
	left: 50px;
}

.info {
	width: 50%;
}

@media screen and (max-width: 1000px) {
	.slider {
		display: none;
	}

	.info {
		width: 100%;
	}
}
