.wrapper {
    width: 100%;
    max-width: 750px;
    min-height: 415px;
}

.wrapper img {
    width: 100%;
}

.notAuth {
    background-color: var(--bg-field);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 0 20px;
}

.notAuth p {
    text-align: center;
}

.button {
    
}
