.wrapper {
    width: 100%;
    min-height: 200px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.listEmpty{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.videoWrapper {
    display: flex;
    gap: 10px;
}

.closeButton {
    padding: 5px;
}
