.wrapper {
    background-color: var(--bg-field);
    width: 100%;
    min-height: 521px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0;

    h2 {
        font-weight: 400;
        font-size: 26px;
        text-align: center;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        max-width: 875px;
        margin: 0 auto;
    }
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;

    .title {
        font-weight: 500;
        font-size: 18px;
    }

    ul {
        padding-top: 20px;
    }

    li {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
    }
}

.button {
    width: max-content;
    margin: 0 auto;
}


@media (max-width: 1200px) {
    .wrapper {
        padding: 40px 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
        grid-template-columns: 1fr;
    }
}
