.location {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 80%;

	.address {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 75%;

		div {
			flex-basis: 45%;
		}
	}

	.language {
		width: 20%;
	}
}
