.location {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	.address {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.language {
		// width: 20%;
	}
}
