.location {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.address {
		width: 100%;
		display: flex;
		gap: 1.5rem;
		align-items: center;
		justify-content: space-between;
	}
}
