.wrapper {
    max-width: 880px;
}

.description {
    margin-top: 40px;
}

.title {
    color: var(--color-black-primary);
    font-size: 1.625rem;
    font-weight: 400;
}

.privacy {
    margin-top: 30px;
}

@media (max-width: 992px) {
    .title {
        text-align: center;
    }
    .description {
        text-align: center;
    }
}
