.dropdownContainer {
	display: flex;
	overflow-y: scroll;
	max-height: 10rem;
	width: 100%;
	margin: 0 0.875rem 0;
}

.dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
}

.dropdownItem {
	margin: 1.25rem 0;
	margin-left: 2.25rem;

	cursor: pointer;

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.dropdownLine {
	top: 0;
	position: sticky;
	width: 1px;
	height: 300px;
	margin: 0 1.25rem;

	background-color: var(--color-gray);
}

.li {
	width: 100%;

	list-style-type: none;
}

.img {
	min-width: 40px;
}

.link {
	display: flex;
	align-items: center;

	height: 3.75rem;

	cursor: pointer;
	text-decoration: none;

	font-weight: 700;
}

.openedLink img {
	margin: 0 0.875rem;
}

.text {
	display: none;

	margin-right: auto;

	text-align: left;
}

.opened {
	display: block;

	margin-left: 1.5rem;
}

.dark {
	background-color: inherit;
	color: var(--white-theme-color);
	.dropdownItem {
		text-decoration: none;
		color: var(--dark-theme-color);
	}

	.matchRoute {
		text-decoration: underline;
		color: white;
	}
}

.light {
	background-color: inherit;
	color: var(--white-theme-color);

	.dropdownItem {
		text-decoration: none;
		color: var(--white-theme-color);
	}	

	.activeRouteDropdown {
		color: var(--color-black-tertiary);
	}

	.matchRoute {
		color: var(--color-black-tertiary);
		text-decoration: underline;
	}
}