.sideMenu {
    position: relative;
    border-right: 1px solid var(--text-caption);
}

.innerWrapper {
    max-width: 325px;
    position: sticky;
    top: 8rem;
    left: 0;
}

.sideMenu a {
    display: block;
    color: gray;
    text-decoration: none;
}

.sideMenu a.active {
    color: black;
}

